.one
{
    margin-left:500px;
    height:500px;
    margin-top:20px;


}
.two
{
margin-left:70px;
margin-top:60px;
border-radius: 70%;
height:200px;
width:200px;
}

.three
{
    text-align: center;
color: white;
}

.four
{


text-align: center;
color:white;
font-weight:bolder;
}